<h1 style="text-align: center">Articulos</h1>
<div class="container">
  <div class="card-columns">
    <% cache @article do %>
      <%= render @article , cached: true%>
    <% end %>
  </div>
</div>
<br>
<div class="mt-2">
  <% unless @article.empty? or @article.nil? %>
    <%= will_paginate @article, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <% end %>
</div>
